<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}За нас{% endblock %}</title>
    <style>
        h3 {
            font-family: Times New Roman, Times, serif;
            font-size: 200%;
            text-align: center;
            margin-top: 3%;
        }
    </style>
</head>
<body>
<div class="text">
    <h3>Вие сте седми клас и се чудите дали ТУЕС е подходящото за вас училище? Ето малко информация, която може да ви помогне.</h3>
    <p>
    Ако сте решили да учите в ТУЕС, вероятно вече сте чували, че тук се учи много. Това е така, но все пак, за да си най-добрият в нещо трябва да
    положиш усилия. Учениците в ТУЕС имат страхотни възможности за развитие поради тясната връзка на ТУЕС със бизнеса. Завършилите ТУЕС също помагат активно за развитието на учениците чрез АЗТУЕС (Асоциация на Завършилите ТУЕС), която е отговорна за организирането на хакатони и всякакви други събития. От няколко години ученици, с помощта на АЗТУЕС, организират хакатонът HackTUES, а през учебната 2018/2019г. беше проведен за поредна година ден на отворени врати в ТУЕС - TUES Fest. Учениците с най-добри проекти получават различни награди от ИТ компаниите.Съединението прави силата

    Обстановката в ТУЕС е страхотна. Въпреки че сградата не изглежда добре отвън и тоалетните не са в особено добро състояние, стаите са с нови мебели, по коридорите има диванчета закупени от Accedia, а в някои стаи има климатици, но изключение правят тези на първия етаж. Поради причината че в осми клас се учи повече английски - класните ръководители на всички осми класове са по Английски език. От девети до дванайсти клас обаче класовете са с други класни ръководители.

    Всяка година се организира Зелено училище на УСОБ Семково ТУ-София за новоприетите осмокласници през първата седмица от учебната година. Това е много добра възможност да се запознаете с хората, с които ще учите още пет години. Зеленото училище е предназначено за ученици в осми клас, но понеже остават свободни места, отиват и някои по-големи ученици. Дори и да не отидете на Зеленото училище, много бързо ще се почувствате част от училището. Класовете са много задружни, поради причината, че всички в ТУЕС имат общи интереси и еднакви цели.

    ВАЖНО!

    Ако вие не мислите, че ТУЕС е вашето училище, не позволявайте на вашите родители да ви принудят да учите там! Ако се запишете в ТУЕС, но усетите, че това училище не е за вас, по-добре се преместете в друго. Обаче ако искате да бъдете бъдещето на ИТ бизнеса - това е вашето училище. По пътя към успеха ще има много трудности, но не трябва да се отказвате! Един любим цитат на нашата директорка доц. д-р инж. Стела Ангелова Стефанова е: “Едно е да искаш, друго е да можеш, а трето и четвърто - да го направиш.” ― Николай Хайтов.
    </p>
</div>
{% endblock content %}
</body>
</html>

