<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Последни сигнали{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="text">
    <button id="event_button" onclick="window.location.href='/new_event'">
        <h2>Подай сигнал</h2>
    </button>
    <table id="database">
        <tr>
            <td class="db_columns"><b>Date and Time</b></td>
            <td class="db_columns"><b>Title</b></td>
            <td class="db_columns"><b>Status</b></td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row['date'] }}</td>
            <td>{{ row['title'] }}</td>
            <td>{{ row['status'] }}</td>
            <td>
                <form action="/delete" method="POST">
                    <input type="hidden" name="delete" value="{{ row['id'] }}"/>
                    <input id="delete" type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <button id="edit" onclick="window.location.href='/update_event'">
                    Edit
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p id="above_event_button">
        <br>Видял си проблем,</br>
        <br>който трябва да бъде оправен?</br>
    </p>
</div>
{% endblock content %}
</body>
</html>
