<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
{% block content %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}FixTUES{% endblock %}</title>
    <style>
        h3 {
            font-family: Times New Roman, Times, serif;
            font-size: 200%;
            text-align: center;
            margin-top: 8%;
        }
    </style>
</head>
<body>
<div class="text">
    <h1>Добре дошли на сайта на FixTUES!</h1>
    <h3>Нека да работим заедно за по-уютно място, където да учим!</h3>
    <i><img alt="CROSSED HANDS" id="hands" src="https://cdn.discordapp.com/attachments/558266683790327813/592716868301750282/together.png"></i>
    <p id="about_text">
        Въпреки че трябва всеки сам да носи своя кръст и да се справя с проблемите си, в ТУЕС всички сме едно голямо семейство и като такова<br/>
        трябва да си помагаме! Няма хора без проблеми, а ТУЕС е цяла общност. В ТУЕС има някои проблеми, с които всички се сблъскваме<br/>
        ежедневно. Идеята на този сайт е ние, учениците, да можем като едно цяло да действаме, за да се справяме с тези проблеми в нашето<br/>
        училище. Добър пример за такъв проблем е състоянието на тоалетните в ТУЕС. Не знаем колко би струвал един такъв ремонт, но ако<br/>
        учениците си разделят цената поравно, за тях няма да е особено скъпо. Разбира се, никой няма да бъде насилен да плаща за нещо, което.<br/>
        не желае Най-важното е учениците да се чувстват като у дома си в училище, защото както всички знаем - туесарите прекарват немалко време там.<br/>
    </p>
</div>
<div class="rights">
    <p style="margin-left: 10%;">
        FixTUES © &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019 - 2019<br/>
        <br/>
        <br/>
        All rights reserved &nbsp;&nbsp;&nbsp;&nbsp; ( ͡° ͜ʖ ͡°)
    </p>
</div>
{% endblock content %}
</body>
</html>
